---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          # 여러분의 frontend image 주소를 입력해주세요.
          image: hub.docker.com/layers/cha3n/nalsee-front-pwa/latest/images/sha256-52fc6ff11abdfc67108091f67ba4a287b9b30259acb8873ca8767dff0d27ccb7?context=repo
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - port: 5173
      targetPort: 5173
