---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          # 여러분의 frontend image 주소를 입력해주세요.
          image: krmp-d2hub-idock.9rum.cc/dev-test/repo_689e3a52a1b2
          envFrom:
            - secretRef:
                name: my-secret
          volumeMounts:
            - name: nalsee
              mountPath: /app/.env
              subPath: .env
              readOnly: true
          resources:
            requests:
              memory: 1Gi
      volumes:
      - name: nalsee
        secret:
          secretName: my-secret
          items:
            - key: .env
              path: .env
          optional: false
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - port: 5173
      targetPort: 5173
