namespace: default
resources:
  - nginx.yaml
  - mariadb.yaml
  - backend.yaml
  - message.yml
  - frontend.yaml
configMapGenerator:
  - name: nginx
    files:
      - configs/default.conf
  - name: init-db
    files:
      - configs/init.sql
secretGenerator:
- name: frontend-secrets
  files:
  - .env
